.1 Link
.DS_Store
.ipynb_checkpoints/
1. Link.txt
MLTest2Prep.ipynb
trash.csv
trash.xlsx
raw.githubusercontent.com
example_table.xlsx

ML1.2 multivariate.ipynb
ML3.2 svm.ipynb
ML3.4 trees.ipynb
ML3.5 knn.ipynb